html, body { padding: 0; margin: 0 auto; max-width: 900px; overflow-x: hidden; }
body { color: #191919; background: #ECECEC; margin: 10px 0 60px 0; }
code { background: #353535; color: #F3F3F3; padding: 4px 8px; font-family: Terminous, fixed, monospace; display: inline-block;}
.bmark-content { padding: 10px; background: #fff; border: 1px solid #ddd; }
.bmark-content a { color: #004A87; text-decoration: none; }
.bmark-content a:visited { color: #8D4890; }
.bmark-content a:hover { text-decoration: underline; }
.bmark-content a.original-url { text-decoration: none !important; font-size: 12px; color: #B9B9B9; }
.bmark-content { max-width: 100%; }
.bmark-content pre { max-width: 100%; white-space: pre-wrap; }
.bmark-content img { max-width: 80%; margin: auto; display: block; }
