html, body { padding: 0; margin: 0 auto; max-width: 900px; overflow-x: hidden; }
body { color: #191919; background: #ECECEC; margin: 10px 0 60px 0; }
.content { padding: 10px; background: #fff; border: 1px solid #ddd; }
.content a { color: #004A87; text-decoration: none; }
.content a:visited { color: #8D4890; }
.content a:hover { text-decoration: underline; }
.content a.original-url { text-decoration: none !important; font-size: 12px; color: #B9B9B9; }
.content { max-width: 100%; }
.content pre { max-width: 100%; white-space: pre-wrap; }
.content img { max-width: 80%; margin: auto; display: block; }
