<!doctype html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
html, body { padding: 0; margin: 0; overflow-x: hidden; }
body { color: #191919; background: #fff; }
h1 { text-align: center; }
.navigation { border-bottom: 1px solid #ddd; background: #ECECEC; box-shadow:inset 0 -1px 0 0 #fff; }
.navigation .item { padding: 5px; display: inline-block; font-size: 20px; max-width: 44%; }
.navigation .item a { text-decoration: none !important; color: #000; text-weight: bolld; }
.navigation .go-next { left: 5px; }
.navigation .go-prev { right: 5px; float: right; text-align: right;  }
.page { padding: 10px; }
.page a.original-url { text-decoration: none !important; font-size: 12px; color: #B9B9B9; }
.page { max-width: 100%; }
.page pre { max-width: 100%; white-space: pre-wrap; }
.page img { max-width: 80%; margin: auto; display: block; }
</style>

<body>
  <div class="navigation">
    <div class="item go-prev">
      {{if .PrevPage}}
        <a href="/p/{{.PrevPage.PageID}}/">{{.PrevPage.Title}} ▶</a>
      {{end}}
    </div>
    <div class="item go-next">
      {{if .NextPage}}
        <a href="/p/{{.NextPage.PageID}}/">◀ {{.NextPage.Title}}</a>
      {{end}}
    </div>
    <div style="clear:both;"></div>
  </div>

  <div class="page">
    <h1 title="Fetched {{.Page.CreatedAt}}">
      {{.Page.Title}}&nbsp;<a class="original-url" href="{{.Page.URL}}" title="Article's original URL">url</a>
    </h1>
    {{.Page.Content | safehtml}}
  </div>

  <div class="navigation">
    <div class="item go-prev">
      {{if .PrevPage}}
        <a href="/p/{{.PrevPage.PageID}}/">{{.PrevPage.Title}} ▶</a>
      {{end}}
    </div>
    <div class="item go-next">
      {{if .NextPage}}
        <a href="/p/{{.NextPage.PageID}}/">◀ {{.NextPage.Title}}</a>
      {{end}}
    </div>
    <div style="clear:both;"></div>
  </div>

</body>
