<!doctype html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
{{template "core_css.tmpl"}}
h1 { text-align: center; }
.navigation .item { padding: 5px; display: inline-block; font-size: 20px; max-width: 44%; }
.navigation .item a { text-decoration: none !important; color: #000; text-weight: bolld; }
.navigation .item a:hover { text-decoration: underline !important; }
.navigation .go-next { left: 5px; }
.navigation .go-prev { right: 5px; float: right; text-align: right;  }
</style>

<body>
  <div class="navigation">
    <div class="item go-prev">
      {{if .PrevPage}}
        <a href="/p{{.PrevPage.PageID}}/{{slugify .PrevPage.Title}}">{{.PrevPage.Title}} ▶</a>
      {{end}}
    </div>
    <div class="item go-next">
      {{if .NextPage}}
        <a href="/p{{.NextPage.PageID}}/{{slugify .NextPage.Title}}">◀ {{.NextPage.Title}}</a>
      {{end}}
    </div>
    <div style="clear:both;"></div>
  </div>

  <div class="bmark-content">
    <h1 title="Fetched {{.Page.CreatedAt}}">
      {{.Page.Title}}&nbsp;<a class="original-url" href="{{.Page.URL}}" title="Article's original URL">url</a>
    </h1>
    {{.Page.Content | safehtml}}
  </div>

  <div class="navigation">
    <div class="item go-prev">
      {{if .PrevPage}}
        <a href="/p{{.PrevPage.PageID}}/{{slugify .PrevPage.Title}}">{{.PrevPage.Title}}&nbsp;▶</a>
      {{end}}
    </div>
    <div class="item go-next">
      {{if .NextPage}}
        <a href="/p{{.NextPage.PageID}}/{{slugify .NextPage.Title}}">◀&nbsp;{{.NextPage.Title}}</a>
      {{end}}
    </div>
    <div style="clear:both;"></div>
  </div>

</body>
