<!doctype html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
{{template "core_css.tmpl"}}
.listing table { width: 100%;}
.nextpage { text-align: center; margin-top: 50px; }
.small { font-size: 80%; }
</style>

<body>
<div class="bmark-content">
  {{if .Pages}}
    <div class="listing">
      <table>
      <tbody>
      {{range .Pages}}
        <tr>
          <td><a href="/p{{.PageID}}/{{slugify .Title}}" title="{{.URL}}">{{.Title}}</a></td>
          <td title="{{.CreatedAt}}" class="small">{{timeago .CreatedAt}} ago</td>
        </tr>
      {{end}}
      </tbody>
      </table>
  {{else}}
    No entries. Add some using <code>curl</code>, for example:
    <pre>
    <code>
$ curl http://localhost:8000/add/ -d "url=http://antirez.com/news/115"
    </code>
    </pre>
  {{end}}
  </div>

  {{if .Next}}
    <div class="nextpage">
        <a href="/?olderThan={{.Next.Format "2006-01-02T150405"}}">load next page ►</a>
    </div>
  {{end}}
</div>
</body>
