<!doctype html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
{{template "core_css.tmpl"}}
.listing {}
.listing table { width: 100%;}
.nextpage { text-align: center; }
.nextpage a { text-decoration: none; border: 1px solid #272727; padding: 4px 10px; background: #DADADA; border-radius: 4px; color: #000; box-shadow:inset 0px 0px 0px 1px #fff; }
</style>

<body>
<div class="content">
  {{if .Pages}}
    <div class="listing">
      <table>
      <tbody>
      {{range .Pages}}
        <tr>
          <td><a href="/p{{.PageID}}/{{slugify .Title}}">{{.Title}}</a></td>
          <td title="{{.CreatedAt}}">{{timeago .CreatedAt}} ago</td>
        </tr>
      {{end}}
      </tbody>
      </table>
  {{else}}
    No entries. Add some using <code>curl</code>, for example:
    <pre>
    <code>
$ curl http://localhost:8000/add/ -d "url=http://antirez.com/news/115"
    </code>
    </pre>
  {{end}}
  </div>

  {{if .Next}}
    <div class="nextpage">
        <a href="/?olderThan={{.Next.Format "2006-01-02T150405"}}">Next page</a>
    </div>
  {{end}}
</div>
</body>
